<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="InputFile" value="" />
        <add key="RefreshCaptchaInterval" value="18" />
        <add key="ServerAddress" value="37.46.85.159" />
        <add key="ServerPort" value="11200" />
        <add key="DelayEachStep" value="0" />
        <add key="DelayConfirm" value="0" />
        <add key="RetryConfirm" value="0" />
        <add key="DelayStep4_56_7" value="0" />
        <add key="Username" value="lan3" />
        <add key="Name" value="" />
        <add key="FamilyName" value="" />
        <add key="DateOfBirth" value="  /  /" />
        <add key="PassportNumber" value="" />
        <add key="EnailAddress" value="" />
        <add key="PhoneNumber" value="" />
        <add key="SelectedOptionTime" value="" />
        <add key="Gender" value="Female" />
        <add key="PurposeOfStay" value="18" />
    </appSettings>
</configuration>