<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="InputFile" value="" />
        <add key="RefreshCaptchaInterval" value="18" />
        <add key="ServerAddress" value="localhost" />
        <add key="ServerPort" value="11200" />
        <add key="DelayEachStep" value="10" />
        <add key="DelaySubmit" value="10" />
        <add key="Username" value="lan3" />
        <add key="Name" value="jhfsjhdf" />
        <add key="FamilyName" value="hfjskdf" />
        <add key="DateOfBirth" value="18-05-1991" />
        <add key="PassportNumber" value="B843579" />
        <add key="EnailAddress" value="lan@gmail.com" />
        <add key="PhoneNumber" value="B834595" />
        <add key="SelectedOptionTime" value="" />
        <add key="Gender" value="Male" />
        <add key="PurposeOfStay" value="3" />
    </appSettings>
</configuration>